html {

    
}
  



    body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: blue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    background-image: url("space_wall.jpg");
    background-size:     cover;           
    background-repeat:repeat-x;
    background-position:center;  
    width: 100%;
    height: auto;
     

    
}

 

    p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
        
    
    }
    
    
    
h1{
    color: green;
     text-align: center;
    
    
    }
    
    span { 
        
    color:azure
    }
    
#gameTitle{
    border:1px red solid;
    background-color: blue;
    font-family: Comic Sans MS;
     font-size: 25px;
      font-weight: bold;
	background-color:#599bb3;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2em;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	background-color:purple;
	position:relative;
	top:1px;
    
}

#play{
    border:1px red solid;
    background-color: blue;
    font-family: Comic Sans MS;
     font-size: 25px;
      font-weight: bold;
	background-color:#599bb3;
	
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	background-color:purple;
	position:relative;
	top:1px;
}












#Donate { 
    
     border:1px red solid;
    background-color: blue;
    font-family: Comic Sans MS;
     font-size: 25px;
      font-weight: bold;
	background-color:#599bb3;
	
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	background-color:purple;
	position:relative;
	top:1px;
    
}
        
    
    




img {
    width: 25%;
    height: auto;
  
}





